body {
    width: 1024px;
    margin: auto;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

.pl20, .pl2 {
    padding-left: 20px;
}

.pl40,.pl3 {
    padding-left: 40px;
}

.pl60,.pl4{
    padding-left: 60px;
}
.pl80,.pl5{
    padding-left: 80px;
}
.mr20{
    margin-right: 20px;
}
#wrapper {
    background: white;
    border: 1px solid #dddddd;
    min-height: 768px;
}

#top {
    height: 1.8em;
    display: block;
    /*background: #3E5B76;*/

}

#account {
    float: right;
    /*color: #fff;*/
}

#account i {
    margin: 0 10px 0px 20px;
}
#account i:hover{
    cursor: pointer;
}

#header {
    margin: 0;
    background-color: #6f6c6c;
    position: relative;
}

#header > ul.nav-tabs > li a {
    color: #fff;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
}

#header > ul.nav-tabs > li a:focus, #header > ul.nav-tabs > li a:hover {
    background: #afa9a9;
    color: #fff;

}

#header > ul.nav-tabs > li.active a, #header > ul.nav-tabs > li.active a:hover {
    color: #555;
    background: #fff;
}

.main-module {
    padding: 20px 10px;
}
.main-module button.btn-form{
    min-width: 100px;
}
.btn {
    min-width: 60px;
}

.divRightAlign {
    float: right;
}

.row {
    margin: 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

/*************************param tab************************/
.row-param, .row-param1 {
    border-bottom: 1px solid #dddddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row-param label, .row-param button {
    margin-left: 10px;
}

.row-param:hover {
    background-color: #dddddd;
}

/*********************floor tab*****************************/
#floor .row,#sector .row, #company .row{
    margin-top: 20px;
}
table.borderless > tbody > tr > td{
    border: none;
}
.table.stripped > tbody > tr:hover{
    cursor: default;
    background-color: #dcd9d9;
}

#sector .table.stripped > tbody > tr:hover, #floor .table.stripped > tbody > tr:hover{
    cursor: pointer;
}
input.code-input{
    width: 40%;
}
.inline-display{
    display: inline-flex;
}
.inline-display label{
    margin-left: 20px;
}

.w60{
    width: 60%;
}
.w40{
    width:40%;
}
#floor .first_row, #sector .first_row{
    margin-top: 0;
}

.article{
    margin-top: 20px;
}

.table > thead > tr > th{
    background-color: #bbbbbb ;
}

ul.nav-tabs li:focus, ul.nav-tabs li:hover
{
    cursor: pointer;
}

#login{
    margin-top: 150px;
    width: 500px;
}

.center-block{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.scroll-to-top {
    display: inline-block;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    z-index: 10001;
    display: none;
    right: 10px;
}

.scroll-to-top > i {
    font-size: 40px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.scroll-to-top > i:hover{
    cursor: pointer;
}
.scroll-to-top:hover > i{
    opacity: 0.8;
}


